body {
    font-family: 'Roboto', sans-serif;
    background-color: #006769;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #006769;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #0766AD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #DF2E38;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: black;
}

li div {
    display: flex;
    gap: 5px;
}

li button {
    background-color: #0766AD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

li button:hover {
    background-color: #DF2E38;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    input {
        font-size: 14px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }

    li {
        padding: 8px;
    }

    li button {
        padding: 5px 8px;
        font-size: 12px;
    }
}
